# STM32 gitignore

# Ignore all
*

# Unignore all dirs
!*/

## Except

# Program files
!*.c
!*.h
!*.s
!*.bat
# IAR project
!*.ewd
!*.ewp
!*.ewt
!*.eww
!Makefile

# IAR Linker files
!*.icf

# stm32cube project
!*.ioc

# Eclipse project
!*.cproject
!*.project
!*.ld

# MDK-ARM project
!*.uvprojx
!*.uvproj
#MDK-ARM Linker
!*.sct

# gitignore
!.gitignore

# Markdown files
!*.md
!*.mk
!*.xml
!*.jpg
!*.txt
/build/
/debug/
/Objects/
/DebugConfig/
